*{
    padding:0;
    margin:0;
}

/* Navbar and Banner */
.navbar{
    position: absolute;
    width: 100%;
    z-index: 1;
}

.carousel-control-next, .carousel-control-prev{
    top: 50%;
    height:20%;
}

nav .fa{
    display: none;
}

/* BacktoTop Css */
.backtotop{
    display: flex;
    justify-content: flex-end;
}

#scrollToTopBtn {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    width: 48px;
}
  
/* Shopping Card */
.latest-products{
    margin: 40px 0px;
    font-family: Helvetica;
    font-weight: bold;
}

.shopping-cart{
    margin: 50px 0px; 
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 8px 0px;
    border-radius: 5px;
  }
  
  .card:hover {
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
  }
  
.card  img {
    border-radius: 5px 5px 0 0;
    height: 280px;
    
  }

  @media(max-width: 700px){
    .card{
        margin: 20px;
    }
  }


/* Parallax Effect */
.wrap {
    max-width:80%; /*image = 500px x 1143px*/
    margin:auto;
  }
  .ratio {
     position:relative;
     height:0;
     padding-bottom:45%; /*image height ÷ width = aspect ratio*/
     overflow:hidden;
  }
  .ratio div {
     position:absolute;
     top:0;left:0;
     width:100%;
     height:100%;
  }
  .headerimg {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/parallax2.png');
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top center;
  }
  .headerimg2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/parallax1.png');
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top center;
  }
  
  .cat img{
    height: 21rem;
    
  }

/* Footer Css  */
.footer-text{
    padding: 8px 4px;
    margin-bottom: 8px 4px;
}

@media(max-width: 700px){
    .navbar{
        position: relative;
        background-color: gray;
    }
}


  @media all and (max-width: 1143px) {
     .headerimg {
      background-size:contain;
     }
  }
